[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "prospectr"]
	path = prospectr
	url = https://github.com/l-ramirez-lopez/prospectr
[submodule "resemble"]
	path = resemble
	url = https://github.com/l-ramirez-lopez/resemble
